/**Font CSS**/
@font-face {
    font-family: "Geomanist Regular";
    src: url('fonts/Geomanist-Regular.otf')
}
@font-face{
    font-family:"Geomanist Bold";
    src: url('fonts/Geomanist-Bold.otf');
}
.headerfont{
    font-family: "Geomanist Regular", Arial, sans-serif;
    font-size: 10vh;
    text-align: center;
}
.menufont{
    font-family: "Geomanist Regular", Arial, sans-serif;
}
.totalfont{
    font-family: "Geomanist Bold", Arial, sans-serif;
    font-size: 25px;
    padding-bottom:0;
}
.totalsubfont{
    font-family: "Geomanist Regular", Arial, sans-serif;
    font-size: 15px;
    padding-top: 0;
}
.totalamount p{
    color: #2962FF;
    text-align: center;
}
.instructions{
    text-align: center;
}
em{
    font-style: normal;
}
/** Button and drop down Detail **/
.totalamount{
    margin-left: auto;
    margin-right: auto;
}
.btn-primary{
    min-width: 200px;
    background-color: #2962FF;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom:30px;
    white-space: normal;
}
.btn{
    font-weight: 700;
}
.dropdown-menu {
    width: 200px;
    max-height: 150px;
    overflow-y: scroll;
}
.dropdown{
    margin-left: auto;
    margin-right:auto;
}
.dropdown-menu>li>a {
    white-space: normal;
}
.dropup{
    margin-left:auto;
    margin-right:auto;
}
li{
    cursor: pointer;
}
/**General CSS for Calculator**/
.smaller-container{
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 30px;
}
.reduced-p{
    margin: 0;
}
.centered{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 164px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.row{
    margin-bottom: 15px;
}
@media screen and (min-width: 700px){
    .col-md-4{
        height: 80px;
    }
    .dropdown {
        width: 200px;
    }
    .dropup{
        width: 200px;
    }
}
/**Mobile CSS**/
@media screen and (max-width: 700px){
    .btn-primary{
        width:100%;
    }
    .dropdown-menu{
        left: 0;
        width: 100%;
    }
    .headerfont{
        font-size: 5vh;
    }
    .container{
        width:100%;
    }
    .totalamount{
        width: 300px;
    }
    .totalfont{
        font-size: 30px;
    }
}